:host {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.header-row {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search-input {
  width: 250px;
  min-width: 200px;
}


.styled-table {
  flex: 1;
  overflow: auto;
  margin-bottom: 10px;

  .cdk-column-actions {
    max-width: 200px;
  }

  mat-header-cell {
    background-color: #f5f5f5;
    font-weight: bold;
  }

  mat-cell {
    border-bottom: 1px solid #eee;
  }

  mat-row {
    transition: background-color 0.2s;
    &:hover {
      background-color: #fafafa;
    }
  }
}

.name-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  display: none;
}





@media (min-width: 768px) {
  :host {
    padding: 0 5rem;
  }
  .avatar {
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  :host {
    padding: 0 10rem;
  }
}
